global
  maxconn 2048

defaults
  mode http
  timeout connect 5s
  timeout client 60s
  timeout server 60s
  option http-keep-alive
  option forwardfor

frontend keycloak
  bind *:8080
  http-request set-header X-Forwarded-Proto http
  http-request set-header X-Forwarded-Port %[req.hdr(host),field(2,:)]
  http-request set-header X-Forwarded-Host %[req.hdr(host),field(1,:)]
  default_backend keycloak_nodes

backend keycloak_nodes
  balance roundrobin
  option tcp-check
  server keycloak-1 keycloak-1:8080 check
  server keycloak-2 keycloak-2:8080 check
